$backgroundColor: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
$boxColor:linear-gradient(145deg, #f0f0f0, #cacaca);
$boxShadows:10px 10px 20px #c1c1c1,-10px -10px 20px #ffffff;
$font-size:1.875rem;
        