@import "variables";
@import "globals";

.main-container{
    width: 400px;
    height: 810px;
    border-radius: 29px;
    background: $boxColor;
    box-shadow:  $boxShadows;
    display: block;
    margin: 20px auto;
}
.weather-title {
        p {
            padding:30px;
            font-weight: bold;
            margin: 0 auto;
            font-size:1.875rem;
    }
}
.info-container {
    width:350px;
    height:200px;
    border-radius: 29px;
    background: $boxColor;
    box-shadow: $boxShadows;
    display:block;
    margin: 20px auto;
}
.location  {
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size:$font-size;
}
.temperature-value  {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 4.375rem;
}
.temperature-description  {
    text-align: center;
    font-weight: bold;
    margin-top: -10px;
    color: rgb(12, 111, 224);
}
#date {
    padding:30px;
    margin: auto ;
    font-weight: bold;
}
.flexbox {
    width:100px;
    margin:10px 0 40px 0 ;
    border-radius: 15px;
    background: $boxColor;
    box-shadow:  $boxShadows;
}
.first-div {
    min-height: 50px;

    .date{
        font-weight: bold;
    }
    
     .bottom-temp-value{
        font-size: $font-size;
        margin: auto;
    }
}
.second-div{
    min-height: 40px;
    .date2{
        font-weight: bold;
    }
    
     .temp2 {
        font-size: $font-size;
        margin: auto;
    }
}
.third-div{
    min-height: 150px;
    .date3{
        font-weight: bold;
    }
    
     .temp3 {
        font-size: $font-size;
        margin: auto;
    }
}

.city {
    text-align: center;

    img {
        width:45px;
    }
}
.detail-container{
    margin:0 20px 0 20px;
    border-radius: 10px;
    background: $boxColor;
    box-shadow: $boxShadows;
}
.box-1{
    min-height: 50px;

    p{
        font-size: 17px;
    }
   .feels{
       font-weight: bold;
   }
}
.box-2{
    min-height: 50px;
    p{
        font-size: 1.0625rem;
    }
   .humidity_{
       font-weight: bold;
   }
   .pressure_{
       font-weight: bold;
   }
}
.box-3{
    min-height: 50px;
    p{
        font-size: 1.0625rem;
    }
   .wind_{
       font-weight: bold;
   }
}
.search {
   margin: 0 auto;
   margin-top:20px;
}
.search-bar {
    height:50px;
    width:150px;
    padding:30px;
    border-radius: 10px;
    background: $boxColor;
    box-shadow: $boxShadows;
    border: none;
}
.search-btn {
    width: 100px;
    height:50px;
    border-radius: 20px;
    border: none;
    background: $boxColor;
    box-shadow:  $boxShadows;
}
.transfer-btn {
    width: 100px;
    height:50px;
    border-radius: 20px;
    border: none;
    background: $boxColor;
    box-shadow:  $boxShadows;
}
.info-btn{
    width: 50px;
    height:50px;
    margin:25px;
    border-radius: 20px;
    border: none;
    background: $boxColor;
    box-shadow:  $boxShadows; 
}

